.all-category__section {
  flex-grow: 1;
  margin: 30px 0px 60px;
}

.all-category__section-header {
  padding-bottom: 24px;
  margin-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--vs-btn-color);
}

.all-category__section-header h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--all-category-text-color);
}

.all-category__section-container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.all-category__section-columns {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 15px));
  gap: 30px;
  min-height: 110vh;
}

.category-item {
  opacity: 1;
  transform: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.category-item div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-item h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--all-category-text-color);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
}

.category-item ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-item ul li {
  font-size: var(--font-size-medium);
  color: rgba(10, 50, 81, 0.8);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
