header {
  height: 110px;
  position: relative;
  z-index: 10;
}
.header {
  align-items: center;
  display: flex;
  height: 40px;
  background-color: var(--corp-color);
}
.header__top-part {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.top-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header-phone {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-phone a {
  color: var(--white-text);
  font-weight: 500;
  font-size: var(--font-size-small);
  line-height: 14px;
  font-weight: 900;
}
.header-phone a:hover {
  font-size: 12.3px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 524.75px;
}
.nav a {
  color: var(--white-text);
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: 14px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.21s;
  letter-spacing: 0.06rem;
}
.nav a:hover {
  font-size: var(--font-size-small);
  opacity: 1;
}

.header__second-line {
  position: relative;
  width: 100%;
  z-index: 11;
  background-color: var(--nav-bg-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 70px;
  transition: transform 0.5s ease;
}
@keyframes headerSecondLine {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

#header__second-line.scrolled {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(237, 235, 235, 0.74); 
  backdrop-filter: blur(10px);
  height: 70px;
  animation: headerSecondLine 0.5s ease forwards;
}
.nav__container-bottom {
  margin: auto;
  justify-content: center;
}

.nav__container-bottom-div {
  width: 100%;
  height: 70px;
  max-width: 1200px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 100px;
}

.nav__bottom-logo img {
  cursor: pointer;
  width: 151px;
  height: 40px;
}

.nav__bottom-mainPart {
  width: 100%;
  justify-content: space-between;
}

.bottom__mainPart-left {
  display: flex;
  gap: 20px;
}

.nav__bottom-category-button {
  background-color: var(--corp-color);
  width: 130px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
}

.category__btn-name {
  font-weight: 500;
  font-size: var(--font-size-medium);
  line-height: 17px;
  color: var(--white-text);
}

.nav__search {
  width: 100%;
  background-color: var(--white-text);
  border: 1px solid rgba(236, 94, 42, 0.5);
  border-radius: 12px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
  padding: 11px;
  cursor: pointer;
  display: flex;
  gap: 15px;
}
.bottom__nav-search {
  width: 400px;
}
.nav__search img {
  width: 20px;
  height: 20px;
}
.bottom__nav-search input {
  border: none;
  outline: none;
  width: 90%;
}

.bottom__mainPart-right {
  display: flex;
  gap: 20px;
}

.header__Cart,
.header__log-in {
  background: var(--white-text);
  width: 130px;
  opacity: 0.8;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
  cursor: pointer;
}

.cart-popup {
  display: none;
  position: absolute;
  top: 58px;
  left: 0;
  width: 355px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px 20px;
  z-index: 100;
  gap: 16px;
  opacity: 1;
  background-color: var(--white-text);
  cursor: pointer;
}

.cart__content-top {
  justify-content: space-between;
}
.cart__content-top :first-child {
  font-weight: 600;
  font-size: var(--font-size-medium);
  line-height: 17px;
  color: #000008;
}
.cart__items {
  gap: 2px;
}
.items__quantities,
.items__quantities-name {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: var(--font-size-small);
  line-height: 14px;
  color: #000007;
}

.cart__main-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: -20px;
  width: calc(100% + 40px);
  padding: 0px 20px;
}
.cart__main-img img {
  width: 100%;
  height: 150px;
}

.cart__total-cost {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
}

.cart__total-cost-name {
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: 14px;
  color: #000007;
}
.cart__total-cost__gel {
  font-weight: 700;
  font-size: var(--font-size-large);
  line-height: 19px;
  color: #000008;
}

.cart__button {
  width: 180px;
  height: 40px;
  margin: auto;
  background-color: var(--corp-color);
  border-radius: 12px;
  border: none;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
}

.cart__button h4 {
  font-weight: 500;
  font-size: var(--font-size-medium);
  line-height: 17px;
  color: var(--white-text);
}
.cart-container:hover .cart-popup {
  display: block;
}

.cart__total-cost {
  margin-bottom: 40px;
}
.header__Cart-container,
.header__log-in-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__lang-change {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--white-text);
  padding: 7px 10px;
  border-radius: 12px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 10px);
  min-width: 48px;
}

.lang-change__geo-flag {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.lang-change__geo-flag img {
  width: 28px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  object-fit: contain;
}

.header__Cart-name,
.header__log-in-name {
  font-family: "firago", sans-serif;
  font-weight: 500;
  font-size: var(--font-size-medium);
  line-height: 17px;
  color: var(--black-text);
}
.header__Cart-name a{
  color: var(--black-text);
}
.mob,
.mob-click,
.nav__burger,
.header__search-mini {
  display: none;
}

@media screen and (max-width: 1230px) {
  .mob,
  .nav__burger,
  .header__search-mini {
    display: block;
  }
  .header {
    display: none;
  }
  .bottom__mainPart-left {
    display: none;
  }
  .header__second-line {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 8;
    height: 50px;
  }

  .nav__container-bottom {
    padding: 0px 20px;
    height: 50px;
  }
  .nav__container-bottom-div {
    height: 50px;
    justify-content: space-between;
  }

  .nav__bottom-mainPart {
    justify-content: flex-end;
  }

  .nav__bottom-logo img {
    cursor: pointer;
    width: 107px;
    height: 32px;
  }

  .nav__burger img {
    margin-left: -12px;
    padding: 10px 12px;
  }
  .burger__zoomer-logo {
    align-items: center;
  }

  .header__Cart,
  .header__lang-change {
    background-color: var(--nav-bg-color);
    width: auto;
  }

  .bottom__mainPart-right {
    display: flex;
    align-items: center;
    gap: 0px;
    width: 200px;
    position: relative;
    justify-content: flex-end;
  }

  .hide,
  .header__log-in {
    display: none;
  }

  .cart-popup {
    display: none;
    position: absolute;
    top: 40px;
    left: -50px;
    width: 280px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 100;
  }

  .cart-container:hover .cart-popup {
    display: block;
  }

  .cart-content {
    display: flex;
    flex-direction: column;
  }

  .cart__content-top {
    justify-content: space-between;
    align-items: center;
  }

  .cart__main-img img {
    display: block;
    width: 80px;
    margin: 10px auto;
  }

  .cart__total-cost {
    justify-content: space-between;
    align-items: center;
  }

  .cart__total-cost__gel {
    font-weight: bold;
    font-size: var(--font-size-large);
  }
}

@media screen and (max-width: 780px) {
  .bottom__mainPart-right {
    width: auto;
  }
  .nav__container-bottom-div {
    gap: 20px;
  }
}
