/* ფონტები შემოვაიმპორტე გუგლ ფონტიდან */

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@font-face {
  font-family: "Firago";
  src: url(./fonts/FiraGO-Regular.otf);
  font-weight: 300;
}

@font-face {
    font-family: 'FiraGO';
    src: url('/css/fonts/FiraGO-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'FiraGO', sans-serif;
}


/* ფერები */
:root {
  --corp-color: #ec5e2a; /*  corporation color (first nav/new price/)*/
  --nav-bg-color: #edebebbd; /*navigation background color-grey*/
  --gift-icon-color: #ffa024; /*gift icon color*/
  --orange-second:#f6af95; /*for log-in popup border color*/
  --news-color: #f79009; /*news (best price,gifts, new) block color*/
  --add-btn-color: #f28f6a; /*add to cart button color*/
  --vs-btn-color: #f2f2f2; /*product compare button color*/
  --brands-bg-color: #6f6f6f15; /*brands section divs background color*/
  --footer-bg-color: #f2f2f2; /*footer background color*/
  --white-text: #fff; /*white text color*/
  --black-text: #000; /*black text for some button labels, the old price, and product names.*/
  --light-black: rgba(
    0,
    0,
    0,
    0.8
  ); 
  --all-category-text-color: rgb(10, 50, 81);/* bfont color for all-category page*/

  /*text color for the entire aside block and the entire footer*/
  --compare-icon: #00579f80; /*compare button color*/
  --chat-icon-color: #fc9e00; /* bottom right chat icon color*/
  --chat-icon-background: #fcdca7; /* bottom right chat icon bg color*/

  /* ფონტის ზომები */
  --font-size-smallest: 8px; /* per month Installment font size*/
  --font-size-small: 12px; /* top nav/categories/old price/product names in card.. /add button names/ footer font size*/
  --font-size-medium: 14px; /* nav bottom button names font size*/
  --font-size-large: 16px; /* titles of containers/price font size*/
}

/*ბადის დამატებითი მახასიათებლები */
body,
html {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Oxygen", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    sans-serif;
}

/* ფლექსი როგორც კლასი.. გოგოებო რაც გინდათ რომ ფლექსი იყოს, მეორე კლასად მიუწერეთ flex სახელშივე */
.flex {
  display: flex;
}
/* ფლექს დაირექშენი როგორც კლასი ანალოგიურია ესეც */
.flex-column {
  display: flex;
  flex-direction: column;
}
