:root {
  --swiper-navigation-size: 20px !important;
}

body {
  height: 100%;
  font-family: "firago", sans-serif;
  font-size: var(--font-size-small);
  color: var(--black-text);
  background-color: var(--white-bachkround);
  /* min-width: 320px; */
}
.scroll-bar div {
  opacity: 1;
  height: 119.272px;
  transform: translateY(176.798px) translateZ(0px);
  width: 4px;
  position: fixed;
  top: 3px;
  right: 3px;
  z-index: 100;
  background-color: var(--orange-main);
  border-radius: 9px;
  transition: width 0.1s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.5 !important;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 12px;
}
::-webkit-scrollbar:hover {
  width: 12px;
}
::-webkit-scrollbar-track {
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(236, 94, 42, 0.5);
  width: 4px;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(236, 94, 42, 0.8);
  width: 12px;
}

.log-in__pop-up-container {
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--black-06);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.log-in__pop-up-mini-container {
  border-radius: 20px;
  background-color: var(--white-text);
  border: 1px solid var(--orange-second);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0px 1.5rem;
  max-height: 100%;
}

.log-in__pop-up-main-part {
  display:none;
  position: relative;
  width: 440px;
  padding: 0px 20px;
}

.log-in-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

.pop-up-main-part__top-section {
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--vs-btn-color);
}

.pop-up-main-part__top-section-title {
  width: 50%;
  padding: 24px 0px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid var(--vs-btn-color);
}
.pop-up-main-part__top-section-title:hover {
  border-bottom: 2px solid var(--corp-color);
}

.pop-up-main-part__top-section-title h4 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.pop-up-main-part__top-section-left h4,
.pop-up-main-part__top-section-right h4 {
  color: var(--black-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.pop-up-main-part-bottom-section {
  padding: 20px 0px;
}

.pop-up-main-part-bottom-container {
  opacity: 1;
  height: 331px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  overflow: hidden;
}
.pop-up-main-part-choose {
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.choose__phone,
.choose__mail {
  cursor: pointer;
  padding: 12px 11px;
  border-radius: 30px;
  background: var(--vs-btn-color);
  text-align: center;
  border: 1px solid var(--white-text);
}

.choose__phone,
.choose__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--black-text);
  opacity: 0.5;
}

.choose__phone:hover,
.choose__mail:hover,
.choose__phone:active,
.choose__mail:active {
  cursor: pointer;
  padding: 12px 11px;
  border-radius: 30px;
  background: rgba(236, 94, 42, 0.2);
  text-align: center;
  border: 2px solid var(--corp-color);
}

.choose__phone h4:hover,
.choose__mail h4:hover,
.choose__phone h4:active,
.choose__mail h4:active {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: var(--black-text);
  opacity: 1;
}

.form-fields {
  width: 400px;
  height: 130px;
  gap: 10px;
}

.form {
  column-gap: 11px;
  margin-bottom: 20px;
}

.choose__country-code {
  width: 85px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
  background-color: var(--vs-btn-color);
  gap: 2px;
}

.choose__country-code img {
  width: 16px;
  height: 11px;
  margin-right: 5px;
}

.choose__country-code-container span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border-radius: 12px;
  z-index: 1;
  line-height: 17px;
  color: var(--black-06);
}

.input__mob-num {
  background: var(--vs-btn-color);
  position: relative;
  box-sizing: border-box;
  height: 50px;
  min-height: 50px;
  border-radius: 12px;
  margin: 0px;
  transition: 0.3s;
  width: 304px;
  border: none;
  font-weight: 500;
}
.input__mob-num::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  transition: 0.175s ease-out;
  pointer-events: none;
  max-width: calc(100% - 1.25rem);
  display: block;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 16px;
  padding-right: 0.7rem;
}

.pop_up__login-btn {
  width: 400px;
  height: 50px;
  border-radius: 12px;
  border: none;
  background-color: var(--corp-color);
  justify-content: center;
  align-items: center;
}

.send-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--white-text);
  letter-spacing: 0.05rem;
}

.pop-up__login-last-part {
  border-top: 2px solid var(--vs-btn-color);
}

.pop-up__login-last-part h4 {
  margin: 20px auto;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--black-main);
}

.google__acount {
  position: relative;
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 10px 45px;
  background: var(--vs-btn-color);
  cursor: pointer;
}
.svg-div {
  background-color: var(--white-text);
  border-radius: 50%;
  padding: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin-bottom: 50px;
}
.slidersMainBox {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  margin-top: 50px;
}

.sliderBox {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
  margin-top: 30px;
}
.swiper-slide {
  max-width: 160px;
  height: 303px;
  display: flex;
  flex-direction: column;
}

.swiper-wrapper {
  gap: 35px;
}

.mySwiper_header {
  opacity: 0.8;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-text);
  margin-bottom: 30px;
  margin-top: 30px;
}
.mainCardbox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 160px;
  cursor: pointer;
  border-radius: 4%;
  transition: 0.2s;
  height: 303px;
  justify-content: space-between;
  background: var(--white-main);
}

.imgAndPricePart {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.slider--img {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

.bestPrice {
  position: absolute;
  bottom: 130px;
  left: 0px;
  background-color: rgb(247, 144, 9);
  padding: 5px 8px;
  font-size: 9px;
  font-weight: 500;
  font-feature-settings: "case";
  color: rgb(255, 255, 255);
  line-height: 16px;
  border-radius: 20px;
  text-transform: uppercase;
}
.price {
  display: flex;
  align-items: center;
  gap: 12px;
}

.oldPrice {
  position: relative;
  color: var(--light-black);
  font-size: 10px;
  padding-left: 3px;
}
.priceText {
  color: black;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.monthlyPrice {
  color: rgb(19, 18, 18);
  height: 15px;
  font-weight: 400;
  font-size: 8px;
  line-height: 14px;
}
.monthlyPrice span {
  color: var(--corp-color);
}

.cardTitle {
  color: rgb(0, 0, 0);
  opacity: 0.8;
  font-family: "firago", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  max-height: 36px;
  overflow: hidden !important;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.iconsBox {
  display: grid;
  grid-template-columns: 40px calc(100% - 50px);
  column-gap: 10px;
  width: 100%;
  max-height: 40px;
  position: relative;
}

.compiars {
  background-color: whitesmoke;
  padding: 14px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.addCart {
  position: relative;
  background: rgba(236, 94, 42, 0.5);
  border-radius: 4px;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  overflow: hidden;
  pointer-events: auto;
  opacity: 1;
  cursor: pointer;
}

.addButtonText {
  position: relative;
  color: var(--black-text);
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.8;
  z-index: 1;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-next2,
.swiper-button-prev2 {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  color: black !important;
  size: var(--swiper-navigation-size);
  font-weight: 600;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
}

.giftIcon {
  position: absolute;
  top: -240px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: rgb(255, 160, 36);
  padding: 5px;
  border-radius: 50%;
}

.giftIcoImg {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.swiper5Boxes {
  width: 160px;
  height: 80px;
  border-radius: 12px;
}

.brand--img {
  width: 160px;
  height: 80px;
  background: var(--brands-bg-color);
  border-radius: 12px;
}

.oldPrice {
  text-decoration: line-through;
  color: gray;
}

.salePrice {
  color: var(--corp-color);
}
